{% extends "AppDesafio/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    Busqueda: {{busqueda}}
    <br>
    Categoria Buscada:<br>
    {%for cat in categoria%}
    Categoria:    {{cat.categoria}}<br>
    SubCategoria:    {{cat.subcategoria}}<br>
        <br>
    {%endfor%}

    <form action="/AppDesafio/inicio" method=""> {% csrf_token %}
        <input type="submit", value="Volver">
    </form>

{% endblock %}